.game {
    background-image: url('/backgrounds/background-stage-megamen.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #d3d3d3;
    background-color: #f1f1f1;
    margin: auto;
    width: 400px;
    height: 400px;
}
/* @keyframes animatedCharacter {
    from{background-position-x:5px;}
    to{background-position-x:-500px;}
  } */
.character{
    background: url('/sprites/spritesheet-megamen.png') 3px 6px !important;
    width: 40px;
    height: 50px;
    margin-top: 270px;
    margin-left: 45px;
}
.characterMoveLeft{
    background: url('/sprites/spritesheet-megamen.png') 1px -90px ;
    width: 30px;
    height: 40px;
    margin-top: 280px;
    margin-left: 45px;
    /* animation: animatedCharacter 1.5s steps(15)  infinite */
}